/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #050219;
  --ifm-color-primary-dark: #050219;
  --ifm-color-primary-darker: #050219;
  --ifm-color-primary-darkest: #050219;
  --ifm-color-primary-light: #050219;
  --ifm-color-primary-lighter: #050219;
  --ifm-color-primary-lightest: #050219;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-color: rgba(200,200,200,.5);
  background-blend-mode: multiply;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #ffffff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-color: rgba(42, 15, 138, 0.466);
  background-blend-mode: multiply;
}
